<div class="flex justify-center">
  <div class="card mt-2">
    <h2 class="mt-0 red-text">Reset Password</h2>
    <app-error-feedback>
      Note that it is necessary to change password away from default before
      creating users.
    </app-error-feedback>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="inputdiv width-stretch  block mb-1 mt-1">
        <input
          type="password"
          name="password"
          class="dhl-input"
          placeholder="password"
          formControlName="password"
          (focus)="onFocusHandler()"
          [ngClass]="{
            feedbackBorder:
              showFeedback('password') || showFeedback('confirmPassword')
          }"
          required
        />
        <label class="dhl-label">Password </label>
        <app-error-feedback *ngIf="showFeedback('password')">{{
          feedback.password
        }}</app-error-feedback>
      </div>
      <div class="inputdiv width-stretch  block">
        <input
          type="password"
          name="passwordConfirm"
          class="dhl-input"
          placeholder="confirm password"
          formControlName="passwordConfirm"
          (focus)="onFocusHandler()"
          [ngClass]="{ feedbackBorder: showFeedback('confirmPassword') }"
          required
        />
        <label class="dhl-label">Confirm Password</label>
        <app-error-feedback *ngIf="showFeedback('confirmPassword')">{{
          feedback.confirmPassword
        }}</app-error-feedback>
      </div>

      <button
        type="submit"
        [disabled]="!(f.password.valid && f.passwordConfirm.valid)"
        class="btn btn-primary width-stretch  mt-2 mb-1"
      >
        Submit
      </button>
    </form>
  </div>
</div>
