h1 {
  color: var(--brand-primary);
  margin-bottom: 2.5rem;
}

h3 {
  margin-top: 3rem;
}

a {
  color: var(--brand-primary);
  width: 25%;
  padding: 0 2rem;
}

.icon-bg {
  background-color: #f1f1f1;
  border: 0.1rem solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  will-change: border-color;
  transition: border 0.2s;
  margin: auto;
  margin-bottom: 1.4rem;
}

.icon-bg:hover {
  border-color: var(--brand-primary);
}

img:hover {
  transform: scale(1.1);
}
