.loaderWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.loader {
  border: 5px solid var(--brand-primary);
  border-top: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 96px;
  height: 96px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
