.iHywWM {
  overflow: hidden;
  position: relative;
  width: 300px;
}
.ORxES {
  appearance: none;
  font-family: "DeliveryRegular";
  font-size: 0.8125rem;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.jtkOTD {
  background-color: #ffffff;
  border: solid 1px #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "DeliveryRegular";
  font-size: 0.9375rem;
  padding: 25px 0.875rem 10px 0.875rem;
  padding-right: 36px;
  pointer-events: none;
  position: relative;
  transition: border-color 250ms;
  width: 100%;
}

.kSYtUo {
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  height: calc(100% - 4px);
  padding: 0 0.875rem;
  pointer-events: none;
  position: absolute;
  right: 2px;
  top: 2px;
}

.bSwkYY {
  height: 16px;
  transform: rotate(-90deg);
  width: 16px;
}

.hQXbqg {
  box-sizing: border-box;
  color: #191919;
  font-family: "DeliveryRegular";
  font-size: 0.75rem;
  left: 1px;
  line-height: 1.09;
  overflow: hidden;
  padding-left: 0.875rem;
  padding-right: calc(2.5 * 0.875rem);
  padding-top: 11px;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  top: 1px;
  white-space: nowrap;
  width: 100%;
}
.NZhKi {
  box-sizing: border-box;
  color: #8c8c8c;
  display: block;
  font-family: "DeliveryRegular";
  font-size: 0.9375rem;
  left: 1px;
  overflow: hidden;
  padding: 25px 0.875rem 10px 0.875rem;
  padding-right: calc(2.5 * 0.875rem);
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  top: 1px;
  white-space: nowrap;
  width: 100%;
}

.selectedOption {
  color: #000;
}
